#infoModal {
  border: none;
  border-radius: 12px;
  padding: 0;
  background: transparent;
  width: 750px;
  height: 300px;
}

#infoModal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.info-modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  position: relative;
  width: 700px;
  height: 250px;
}

.info-modal-content h2 {
  margin: 0;
  color: #f8a000;
}

.info-modal-content ul {
  list-style: none;
  padding: 0;
  text-align: center;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
#infoModal {
    width: 720px;
    
  }
}

@media (max-width: 720px) {
  #infoModal {
    width: 550px;
    height: 200px;
  }

  .info-modal-content {
    width: 500px;
    height: 200px;
  }
}

