body {
  background-image: url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100dvh;
  background-attachment: fixed;
  overflow: hidden;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  height: 200px;
  width: 260px;
}

.description {
  height: 200px;
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background: black;
  display: block;
  position: relative;
  z-index: 0;
}

#canvas-container {
  position: relative;
  display: inline-block;
  width: 720px;
  height: 480px;
}

#canvas-container:fullscreen {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas-container:fullscreen canvas {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.character {
  margin-top: 5px;
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100dvh;
  }
}
