body {
  background-image: url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100dvh;
  background-attachment: fixed;
  overflow: hidden;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  height: 200px;
  width: 260px;
}

.description {
  height: 200px;
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background: black;
  display: block;
  position: relative;
  z-index: 0;
}

#canvas-container {
  position: relative;
  display: inline-block;
  width: 720px;
  height: 480px;
}

#canvas-container:fullscreen {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas-container:fullscreen canvas {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.character {
  margin-top: 5px;
  height: 200px;
  width: 200px;
}

#rotate-device-hint {
  display: none;
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
  body {
    margin: 0;
    padding: 0;
  }

  main {
    height: 100dvh;
    justify-content: center;
  }

  #rotate-device-hint {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.95); 
    z-index: 20; 
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    box-sizing: border-box;
  }

  #canvas-container {
    width: 100%;
    height: 100dvh; 
  }

  canvas {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .headline {
    display: none;
  }

  .character {
    display: none;
  }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
  #rotate-device-hint {
    display: none; 
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  main {
    height: 100dvh;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #canvas-container {
    display: inline-block; 
    width: 100%;
    height: 100dvh;
  }

  canvas {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .headline {
    display: none;
  }

  .character {
    display: none;
  }
}

