@font-face {
    font-family: 'zabras';
    src: url('./zabars.ttf') format('truetype'); 
}

body {
    font-family: zabras;
    font-size: 30px;
    font-weight: 300;
    font-style: oblique;
    letter-spacing: 2px;
}

.start-btn {
    font-family: zabras;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
}

.home-btn {
    font-family: zabras;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}

.fullscreen-btn {
    font-size: 25px;
}

.reset-btn {
    font-size: 20px;
}

.mute-music {
    font-size: 20px;
}

.mute-sound-effects {
    font-size: 20px;
}

.fullscreen-hint {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
}